<!-- Modal -->
<dialog id="Tapa" class="size-modal-nueva-tapa">
    <div class="modal-content">
        <h4>Nueva tapa</h4>
       
       
    </div>
    <div class="modal-footer" style="margin-bottom:10px;">
        <a class="waves-effect waves-light btn right btn-enviar-correo">Enviar</a>	
        <a class="waves-effect waves-light btn red left close-modal-Tapa">Cerrar</a>
    </div>
</dialog>